h2 {
  position: relative;
  top: -150px;
}

.search {
  position: relative;
  width: 300px;
  margin: 60px auto;
}

.searchInput {
  position: relative;
}

.searchInput input {
  width: 100%;
  padding: 20px 40px; /* Extra padding for the icon */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}

.searchInput .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #888;
  cursor: pointer;
}

.tournamentResults th {
  text-align: center;
  padding: 15px;
  width: 500px;
  background-color: #f1f1f180;
  color: rgb(0, 0, 0);
}

.tournamentResults tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}
