.update-tournament-form {
  max-width: 600px;
  margin: 100px auto; /* Added margin-top to avoid overlap with the header */
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.update-tournament-form h2 {
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}
.update-tournament-form input[type="text"],
.update-tournament-form input[type="number"],
.update-tournament-form textarea,
.update-tournament-form input[type="date"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f9f9f9;
}

.update-tournament-form textarea {
  height: 100px;
  resize: vertical;
}

.update-tournament-form button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: #f44336; /* Red color */
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.update-tournament-form button:hover {
  background-color: #45a049;
}

.update-tournament-form p {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  color: green;
}

.update-tournament-form p.error {
  color: red;
}
